body
{
  text-align: center;
}
.buttons
{
  position: relative;
  background-color: grey;
  font-size: 2em;
  border: 3px solid black;
  margin: 1em;
}
.buttons:hover
{
  cursor: pointer;
}
#scores
{
  /*text-align: left;*/
  position: relative;
  width: 80vw;
  height: 15vh;
  /*margin-left: 10vw;*/
  display: inline-block;
}
#compPoint
{
  position: absolute;
  /*float: left;*/
  left: 10%;
  font-size: 4em;
  /*width: 4em;
  height: 4em;*/
}
#playerPoint
{
  position: absolute;
  /*float: right;*/
  right: 10%;
  font-size: 4em;
  /*width: 4em;
  height: 4em;*/
}
#table
{
  position: relative;
  background-color: white;
  border: solid 5px black;
  width: 80vw;
  height: 60vh;
  margin-left: 10vw;
}
#tableTop
{
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 100%;
  left: 0%;
  /*background-color: blue;*/
}
#tableBottom
{
  position: absolute;
  width: 100%;
  height: 5px;
  top: 100%;
  left: 0%;
  /*background-color: red;*/
}
#tableLeft
{
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0%;
  right: 100%;
  /*background-color: green;*/
}
#tableRight
{
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0%;
  left: 100%;
  /*background-color: pink;*/
}
#player
{
  position: absolute;
  width: 10px;
  height: 140px;
  margin-left: 95%;
  color: white;
  background-color: blue;
}
#p1
{
  width: 10px;
  height: 20px;
  /*background-color: blue;*/
}
#p2
{
  width: 10px;
  height: 20px;
  /*background-color: green;*/
}
#p3
{
  width: 10px;
  height: 20px;
  /*background-color: pink;*/
}
#p4
{
  width: 10px;
  height: 20px;
  /*background-color: red;*/
}
#p5
{
  width: 10px;
  height: 20px;
  /*background-color: pink;*/
}
#p6
{
  width: 10px;
  height: 20px;
  /*background-color: green;*/
}
#p7
{
  width: 10px;
  height: 20px;
  /*background-color: blue;*/
}
#comp
{
  position: absolute;
  width: 10px;
  height: 140px;
  margin-left: 5%;
  color: white;
  background-color: red;
}
#c1
{
  width: 10px;
  height: 20px;
  /*background-color: blue;*/
}
#c2
{
  width: 10px;
  height: 20px;
  /*background-color: green;*/
}
#c3
{
  width: 10px;
  height: 20px;
  /*background-color: pink;*/
}
#c4
{
  width: 10px;
  height: 20px;
  /*background-color: red;*/
}
#c5
{
  width: 10px;
  height: 20px;
  /*background-color: pink;*/
}
#c6
{
  width: 10px;
  height: 20px;
  /*background-color: green;*/
}
#c7
{
  width: 10px;
  height: 20px;
  /*background-color: blue;*/
}
#ball
{
  position: absolute;
  left: 93%;
  top: 65px;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}
