body
{

}
#table
{
  position: relative;
  background-color: white;
  border: solid 5px black;
  width: 80vw;
  height: 50vh;
  margin-left: 10vw;
}
#player
{
  position: absolute;
  width: 10px;
  height: 100px;
  margin-left: 95%;
  color: white;
  background-color: black;
}
#pTopH
{
    width: 10px;
    height: 20px;
}
#pTopL
{
    width: 10px;
    height: 20px;
}
#pMid
{
    width: 10px;
    height: 20px;
}
#pLowL
{
    width: 10px;
    height: 20px;
}
#pLowH
{
    width: 10px;
    height: 20px;
}
#comp
{
  position: absolute;
  width: 10px;
  height: 100px;
  margin-left: 5%;
  color: white;
  background-color: black;
}
#cTopH
{
  width: 10px;
  height: 20px;
}
#cTopL
{
  width: 10px;
  height: 20px;
}
#cMid
{
  width: 10px;
  height: 20px;
}
#cLowL
{
  width: 10px;
  height: 20px;
}
#cLowH
{
  width: 10px;
  height: 20px;
}
#ball
{
  position: absolute;
  margin-left: 93%;
  top: 45px;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}
